!!!
html
  head
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
    //- support for jade client-side templates
    script(src='jade/runtime.min.js')
    //- all our maps are surrounded by a radius-border, 2-pixel frame
    style(type='text/css') div.map-container { background-color:gray; border:2px; border-radius:4px; padding:2px; margin:2px; position:relative; overflow:scroll; }
  body
    //- we want to use our templates
    include hexMapMixin
    include hexMapDivMixin
    
    div#aMap(class='map-container')
      mixin hexMapDiv(board.ranks, board.files, tile.width, tile.height, 'tileImages/grassField.png', 'hexMapDiv', 'board')
    
    div#anotherMap(class='map-container')
      //-  div(style='width:' + (12 * ((32 * 3)/2) + 32/4) + 'px; height:' + (32/2) * (6 + 1) + 'px; position:relative;')
      div(style='width:672px; height:112px; position:relative;')
        mixin hexMap(6, 12, 32, 32, 'tileImages/redCraters.png', 'b')
    
    label Rows:
    select#numberOfRows
      option 4
      option 5
      option 6
    label Columns:
    select#numberOfColumns
      option 6
      option 8
      option 10
    a#createMap(href="createMap") Build the map client-side. Place it in the div.
    div#clientSideMap(class='map-container')
      //-  div#fillFromClient(style='background-color:blue width:' + (12 * ((32 * 3)/2) + 32/4) + 'px; height:' + (32/2) * (6 + 1) + 'px; position:relative;')
      div#fillFromClient(style='background-color:blue width:672px; height:112px; position:relative;')
    
    label Rows:
    select#numberOfRowsInDiv
      option 4
      option 5
      option 6
      option 7
      option 8
      option 9
      option 10
      option 11
      option 12
      option 13
      option 14
      option 15
      option 16
      option 17
      option 18
      option 19
    label Columns:
    select#numberOfColumnsInDiv
      option 6
      option 8
      option 10
      option 12
      option 14
      option 16
      option 17
      option 18
      option 19
      option 20
    label Width:
    select#widthOfTiles
      option 32
      option 64
      option 72
    label Height:
    select#heightOfTiles
      option 32
      option 64
      option 72
    a#createMapDiv(href="createMapDiv") Build the map div client-side. Size of div adjusts as needed.
    //- a client-sid div containing the map will go into this div. Will adjust to content size
    div#clientSideMapDiv(class='map-container')

    script var createMapFromTemplate = !{mapTemplate}
    script var createMapDivFromTemplate = !{mapDivTemplate}
    
    script
      $(document).ready(function(){
        var createMapAnchor = $("#createMap"),
          createMapDivAnchor =$('#createMapDiv'),
          numberOfRows = $('#numberOfRows'),
          numberOfColumns = $('#numberOfColumns'),
          numberOfRowsInDiv = $('#numberOfRowsInDiv'),
          numberOfColumnsInDiv = $('#numberOfColumnsInDiv'),
          widthOfTiles = $('#widthOfTiles'),
          heightOfTiles = $('#heightOfTiles');
        createMapAnchor.click(function(event){
          // don't process the click normally
          event.preventDefault();
          var renderedTemplate = createMapFromTemplate({ 
            ranks: numberOfRows[0].value, 
            files: numberOfColumns[0].value, 
            width: 32,
            height: 32,
            defaultImageURL: 'tileImages/roughTerrain.png',
            boardClass: 'd'
          });
          $('#fillFromClient').empty();
          $('#fillFromClient').append(renderedTemplate);
        });
        createMapDivAnchor.click(function(event){
          // don't process the click normally
          event.preventDefault();
          var renderedTemplate = createMapDivFromTemplate({ 
            ranks: numberOfRowsInDiv[0].value, 
            files: numberOfColumnsInDiv[0].value, 
            width: widthOfTiles[0].value,
            height: heightOfTiles[0].value,
            defaultImageURL: 'tileImages/roughTerrain.png',
            divClass: 'hexMapDivFresh',
            boardClass: 'c'
          });
          $('#clientSideMapDiv').empty();
          $('#clientSideMapDiv').append(renderedTemplate);
        });      
      });