mixin hexTileRow(files, oddOrEven, imgURL, boardClass, boardTileClass)
  - for (var tileIndex = 0; tileIndex < files; tileIndex += 1) {
    boardTilePlacementClass = boardTileClass + '-' + oddOrEven + '-' + tileIndex
    //- each tile image is inside a list item
    li(class=[boardClass, boardTileClass])
      img(class=[boardClass, boardTileClass, boardTilePlacementClass], src=imgURL)
  - }
